body {
    margin: 0;
    padding: 5% 10%;
    text-transform: uppercase;
  }
  
  body,
  button,
  thead td,
  input {
      color: #000;
      font-size: 1rem;
    font-weight: bold;
  }
  
input,
button,
td {
    border: 2px solid #656565;
    outline: none;
}
  
input,
button {
    width: 30%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    min-height: 40px;
}
  
.controls {
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
  
table,
h1 {
    border-collapse: collapse;
    width: 100%;
}
  
tbody tr td:last-of-type,
tfoot td:last-of-type {
    text-align: right;
}
  
h1 {
  border-bottom: 3px solid #ccc;
  margin-bottom: 1rem;
}
  
td {
  width: 50%;
  padding: 0.5rem;
}
  
tfoot td,
thead td,
h1 {
  font-weight: bold;
  color: #9dcc46;
}

tfoot td:first-of-type {
  border: none;
  text-align: right;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(105, 177, 77);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}